<div class="home__container">
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/pt/1/10/Battlefield_5_capa.png"
		gameLabel="EXCLUSIVE"
		gamePrice="268,70"
		gameType="DIGITAL | PS4"
	>
	</app-card>
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/pt/7/75/Battlefield_1_capa.png"
		gameLabel="DIGITAL"
		gamePrice="149,90"
		gameType="DISC | PS5"
	>
	</app-card>
	<app-card
		gameCover="https://upload.wikimedia.org/wikipedia/pt/e/e9/Star_Wars_Outlaws.jpg"
		gameLabel="NEW"
		gamePrice="349,90"
		gameType="DIGITAL | PS5"
	>
	</app-card>
</div>
